*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* header */
.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: #a30101bd;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}
.logo{
  padding: 10px;
  width: 100px;
  border-radius: 50%;
}

.header .nav-items > ul{
  list-style-type: none;
  display: flex;
}

.header .nav-items > ul > li{
  padding: 40px 10px 0 0;
  font-size: large;
  cursor: pointer;
}

.test-name {
  padding: 30px 10px 0 0;
}

.dropdown-container {
  
  width: 100%;
}

.section-number {
  padding: 40px 10px 0 0;
  font-size:larger;
  font-weight: bold;
}